@model Piranha.Extend.Blocks.ImageGalleryBlock
@using Piranha.Extend.Blocks
@{
    var unique = "gallery-" + Guid.NewGuid().ToString();
}
<style type="text/css">
    /*
        https://bootstrapcreative.com/pattern/full-width-carousel-responsive-images/
Removes white gap between slides - chagnge to base color of slide images
*/
    .carousel {
        background: #007aeb;
    }

    /*
Forces image to be 100% width and not max width of 100%
*/
    .carousel-item .img-fluid {
        width: 100%;
    }

    /* 
anchors are inline so you need ot make them block to go full width
*/
    .carousel-item a {
        display: block;
        width: 100%;
    }
</style>
<div id="@unique" class="carousel slide gallery-block" data-ride="carousel">
    <ol class="carousel-indicators">
        @for (var n = 0; n < Model.Items.Count; n++)
        {
            <li data-target="#@unique" data-slide-to="@n" class="@(n == 0 ? "active" : "")"></li>
        }
    </ol>
    <div class="carousel-inner">
        @foreach (var item in Model.Items)
        {
        <div class="carousel-item @(item == Model.Items.First() ? "active" : "")">
            @{
                var image = ((ImageBlock)item).Body.Media;
            }
            <img src="@Url.Content(WebApp.Media.ResizeImage(image,1900))" class="d-block w-100" alt="@image.AltText" title="@image.Title">
            @*<img src="@Url.Content(WebApp.Media.ResizeImage(image, 890, 482))" class="d-block w-100" alt="@image.AltText" title="@image.Title">*@
        </div>
        }
    </div>
    <a class="carousel-control-prev" href="#@unique" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#@unique" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
