
@using MvcWeb.Models

@model MvcWeb.Models.FaqViewModel
@{ 
    var m = Model;
    if ( null == m)   {

            }
    ViewBag.Title = Model.FaqPage.Title;

    }

<div class="container">
    <br />
    @*<h2 class="font-size36 md-font-size32 sm-font-size28 text-hightlight-color margin-15px-bottom sm-margin-10px-bottom">FAQ</h2*@
    @*<div class="row justify-content-center">
            <div class="col-sm-10">
                <h1 class="display-3">@ Model.FaqPage.Title</h1>
            </div>
        </div>
        <div class="row">
            @ foreach (ResourceCategoryItem c in Model.ResourceCategories)
            {
                <div class="col-sm-4">
                    <a class="card-link" href="@c.PageUrl">
                        <div class="card border-dark" style="width: 18rem;">
                            <img class="card-img-top" src="@c.ImageUrl"
                                 alt="Image of @c.Title" asp-append-version="true" />
                            <div class="card-body">
                                <h5 class="card-title text-info">@c.Title</h5>
                                <div class="card-text text-info">@Html.Raw(@c.Description)</div>
                            </div>
                        </div>
                    </a>
                </div>}
        </div>*@

    <!-- start faq section -->
    <section class="faq-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12 xs-margin-30px-bottom">
                    <div class="border-all padding-40px-all md-padding-30px-all sm-padding-25px-all">
                        <h4 class="font-size28 md-font-size26 sm-font-size24 text-hightlight-color margin-20px-bottom">FAQ</h4>
                        <div id="accordion" class="accordion-style">
                            @{ int id = 1;}
                            @foreach (ResourceCategoryItem c in Model.ResourceCategories)
                            {

                                <div class="card">
                                    <div class="card-header" id="@("heading" + @id.ToString())">
                                        <h5 class="mb-0">
                                            <button class="@(id==1? "btn btn-link":"btn btn-link collapsed")" data-toggle="collapse" data-target="@("#collapse" + id.ToString())" aria-expanded="true" aria-controls="@("collapse" + id.ToString())">
                                                <text>@c.Title</text>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="@("collapse" + id.ToString())" class="@(id==1? "collapse show":"collapse")" aria-labelledby="@("heading" + @id.ToString())" data-parent="#accordion">
                                        <div class="card-body">
                                            @Html.Raw(@c.Description)
                                        </div>
                                    </div>
                                </div>
                                id += 1;
                            }

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="border-all bg-light-gray padding-40px-all md-padding-30px-all sm-padding-25px-all">

                        <h4 class="font-size28 md-font-size26 sm-font-size24 text-hightlight-color margin-20px-bottom">Ask your question</h4>

                        <form method="post" action="bat/rd-mailform.php" class="mailform off2">
                            <input type="hidden" name="form-type" value="contact">
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="text" name="name" placeholder="Your Name:" data-constraints="@@LettersOnly @@NotEmpty">
                                </div>
                                <div class="col-md-12">
                                    <input type="text" name="email" placeholder="Email:" data-constraints="@@Email @@NotEmpty">
                                </div>
                                <div class="col-md-12">
                                    <input type="text" name="subject" placeholder="Subject:" data-constraints="@@NotEmpty">
                                </div>
                                <div class="col-md-12">
                                    <textarea name="message" rows="5" placeholder="Your Questions:" data-constraints="@@NotEmpty"></textarea>
                                </div>
                                <div class="mfControls col-md-12">
                                    <button type="submit" class="butn">Send message</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end faq section -->
</div>